<div class="clearfix wrapper dk nav-user hidden-xs">
  <div class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <span class="thumb avatar pull-left m-r">                        
        <%= image_tag "a0.png", class: 'dker' %>
        <i class="on md b-black"></i>
      </span>
      <span class="hidden-nav-xs clear">
        <span class="block m-t-xs">
          <strong class="font-bold text-lt">John.Smith</strong> 
          <b class="caret"></b>
        </span>
        <span class="text-muted text-xs block">Art Director</span>
      </span>
    </a>
    <ul class="dropdown-menu animated fadeInRight m-t-xs">                      
      <li>
        <span class="arrow top hidden-nav-xs"></span>
        <a href="#">Configuración</a>
      </li>
    </ul>
  </div>
</div>
