<!-- Top main -->
<section class="row m-b-md">
  <div class="col-sm-6">
    <h3 class="m-b-xs text-black">Dashboard</h3>
    <small>Welcome back, John Smith, <i class="fa fa-map-marker fa-lg text-primary"></i> New York City</small>
  </div>
  <div class="col-sm-6 text-right text-left-xs m-t-md">
    <div class="btn-group">
      <a class="btn btn-rounded btn-default b-2x dropdown-toggle" data-toggle="dropdown">Widgets <span class="caret"></span></a>
      <ul class="dropdown-menu text-left pull-right">
        <li><a href="#">Notification</a></li>
        <li><a href="#">Messages</a></li>
        <li><a href="#">Analysis</a></li>
        <li class="divider"></li>
        <li><a href="#">More settings</a></li>
      </ul>
    </div>
    <a href="#" class="btn btn-icon b-2x btn-default btn-rounded hover"><i class="i i-bars3 hover-rotate"></i></a>
    <a href="#nav, #sidebar" class="btn btn-icon b-2x btn-info btn-rounded" data-toggle="class:nav-xs, show"><i class="fa fa-bars"></i></a>
  </div>
</section>


<!-- Widgets floating -->
<div class="row">
  <div class="col-sm-6">
    <div class="panel b-a">
      <div class="row m-n">
        <div class="col-md-6 b-b b-r">
          <a href="#" class="block padder-v hover">
            <span class="i-s i-s-2x pull-left m-r-sm">
              <i class="i i-hexagon2 i-s-base text-danger hover-rotate"></i>
              <i class="i i-plus2 i-1x text-white"></i>
            </span>
            <span class="clear">
              <span class="h3 block m-t-xs text-danger">2,000</span>
              <small class="text-muted text-u-c">New Visits</small>
            </span>
          </a>
        </div>
        <div class="col-md-6 b-b">
          <a href="#" class="block padder-v hover">
            <span class="i-s i-s-2x pull-left m-r-sm">
              <i class="i i-hexagon2 i-s-base text-success-lt hover-rotate"></i>
              <i class="i i-users2 i-sm text-white"></i>
            </span>
            <span class="clear">
              <span class="h3 block m-t-xs text-success">75%</span>
              <small class="text-muted text-u-c">Bounce rate</small>
            </span>
          </a>
        </div>
        <div class="col-md-6 b-b b-r">
          <a href="#" class="block padder-v hover">
            <span class="i-s i-s-2x pull-left m-r-sm">
              <i class="i i-hexagon2 i-s-base text-info hover-rotate"></i>
              <i class="i i-location i-sm text-white"></i>
            </span>
            <span class="clear">
              <span class="h3 block m-t-xs text-info">25 <span class="text-sm">m</span></span>
              <small class="text-muted text-u-c">location</small>
            </span>
          </a>
        </div>
        <div class="col-md-6 b-b">
          <a href="#" class="block padder-v hover">
            <span class="i-s i-s-2x pull-left m-r-sm">
              <i class="i i-hexagon2 i-s-base text-primary hover-rotate"></i>
              <i class="i i-alarm i-sm text-white"></i>
            </span>
            <span class="clear">
              <span class="h3 block m-t-xs text-primary">9:30</span>
              <small class="text-muted text-u-c">Meeting</small>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="panel b-a">
      <div class="panel-heading no-border bg-primary lt text-center">
        <a href="#">
          <i class="fa fa-facebook fa fa-3x m-t m-b text-white"></i>
        </a>
      </div>
      <div class="padder-v text-center clearfix">                            
        <div class="col-xs-6 b-r">
          <div class="h3 font-bold">42k</div>
          <small class="text-muted">Friends</small>
        </div>
        <div class="col-xs-6">
          <div class="h3 font-bold">90</div>
          <small class="text-muted">Feeds</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6">
    <div class="panel b-a">
      <div class="panel-heading no-border bg-info lter text-center">
        <a href="#">
          <i class="fa fa-twitter fa fa-3x m-t m-b text-white"></i>
        </a>
      </div>
      <div class="padder-v text-center clearfix">                            
        <div class="col-xs-6 b-r">
          <div class="h3 font-bold">27k</div>
          <small class="text-muted">Tweets</small>
        </div>
        <div class="col-xs-6">
          <div class="h3 font-bold">15k</div>
          <small class="text-muted">Followers</small>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3 hide">
    <section class="panel b-a">
      <header class="panel-heading b-b b-light">
        <ul class="nav nav-pills pull-right">
          <li>
            <a href="ajax.pie.html" class="text-muted" data-bjax data-target="#b-c">
              <i class="i i-cycle"></i>
            </a>
          </li>
          <li>
            <a href="#" class="panel-toggle text-muted">
              <i class="i i-plus text-active"></i>
              <i class="i i-minus text"></i>
            </a>
          </li>
        </ul>
        Connection
      </header>
      <div class="panel-body text-center bg-light lter" id="b-c">
        <div class="easypiechart inline m-b m-t" data-percent="60" data-line-width="4" data-bar-Color="#23aa8c" data-track-Color="#c5d1da" data-color="#2a3844" data-scale-Color="false" data-size="120" data-line-cap='butt' data-animate="2000">
          <div>
            <span class="h2 m-l-sm step"></span>%
            <div class="text text-xs">completed</div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>





<!-- Example Charts -->
<div class="row bg-light dk m-b">
  <div class="col-md-6 dker">
    <section>
      <header class="font-bold padder-v">
        <div class="pull-right">
          <div class="btn-group">
            <button data-toggle="dropdown" class="btn btn-sm btn-rounded btn-default dropdown-toggle">
              <span class="dropdown-label">Week</span> 
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-select">
                <li><a href="#"><input type="radio" name="b">Month</a></li>
                <li><a href="#"><input type="radio" name="b">Week</a></li>
                <li><a href="#"><input type="radio" name="b">Day</a></li>
            </ul>
          </div>
          <a href="#" class="btn btn-default btn-icon btn-rounded btn-sm">Go</a>
        </div>
        Statistics
      </header>
      <div class="panel-body">
        <div id="flot-sp1ine" style="height:210px"></div>
      </div>
      <div class="row text-center no-gutter">
        <div class="col-xs-3">
          <span class="h4 font-bold m-t block">5,860</span>
          <small class="text-muted m-b block">Orders</small>
        </div>
        <div class="col-xs-3">
          <span class="h4 font-bold m-t block">10,450</span>
          <small class="text-muted m-b block">Sellings</small>
        </div>
        <div class="col-xs-3">
          <span class="h4 font-bold m-t block">21,230</span>
          <small class="text-muted m-b block">Items</small>
        </div>
        <div class="col-xs-3">
          <span class="h4 font-bold m-t block">7,230</span>
          <small class="text-muted m-b block">Customers</small>                        
        </div>
      </div>
    </section>
  </div>
  <div class="col-md-6">
    <section>
      <header class="font-bold padder-v">
        <div class="btn-group pull-right">
          <button data-toggle="dropdown" class="btn btn-sm btn-rounded btn-default dropdown-toggle">
            <span class="dropdown-label">Last 24 Hours</span> 
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-select">
              <li><a href="#"><input type="radio" name="a">Today</a></li>
              <li><a href="#"><input type="radio" name="a">Yesterday</a></li>
              <li><a href="#"><input type="radio" name="a">Last 24 Hours</a></li>
              <li><a href="#"><input type="radio" name="a">Last 7 Days</a></li>
              <li><a href="#"><input type="radio" name="a">Last 30 days</a></li>
              <li><a href="#"><input type="radio" name="a">Last Month</a></li>
              <li><a href="#"><input type="radio" name="a">All Time</a></li>
          </ul>
        </div>
        Analysis
      </header>
      <div class="panel-body flot-legend">
        <div id="flot-pie-donut"  style="height:240px"></div>
      </div>
  </div>
</div>


<div class="row">

  <!-- left-side -->
  <div class="col-lg-6">
    
    <!-- Tabs -->
    <section class="panel panel-default">
      <header class="panel-heading bg-light">
        <ul class="nav nav-tabs nav-justified">
          <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
          <li><a href="#profile" data-toggle="tab">Profile</a></li>
          <li><a href="#messages" data-toggle="tab">Messages</a></li>
          <li><a href="#settings" data-toggle="tab">Settings</a></li>
        </ul>
      </header>
      <div class="panel-body">
        <div class="tab-content">
          <div class="tab-pane active" id="home">home</div>
          <div class="tab-pane" id="profile">profile</div>
          <div class="tab-pane" id="messages">message</div>
          <div class="tab-pane" id="settings">settings</div>
        </div>
      </div>
    </section>

    <!-- Tabs-2 -->
    <section class="panel panel-default">
      <header class="panel-heading text-right bg-light">
        <ul class="nav nav-tabs pull-left">
          <li><a href="#messages-2" data-toggle="tab"><i class="fa fa-comments text-muted"></i></a></li>
          <li class="active"><a href="#profile-2" data-toggle="tab"><i class="fa fa-user text-muted"></i> Profile</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog text-muted"></i> Settings <b class="caret"></b></a>
            <ul class="dropdown-menu text-left">
              <li><a href="#dropdown1" data-toggle="tab">@fat</a></li>
              <li><a href="#dropdown2" data-toggle="tab">@mdo</a></li>
            </ul>
          </li>
        </ul>
        <span class="hidden-sm">Left</span>
      </header>
      <div class="panel-body">
        <div class="tab-content">              
          <div class="tab-pane fade" id="messages-2">message</div>
          <div class="tab-pane fade active in" id="profile-2">profile</div>
          <div class="tab-pane fade" id="dropdown1">dropdown1</div>
          <div class="tab-pane fade" id="dropdown2">dropdown2</div>
        </div>
      </div>
    </section>

  </div>
  

  <!-- Right-side -->
  <div class="col-lg-6">
    
    <!-- Carousel-1 -->
    <section class="panel panel-default">
      <div class="carousel slide auto panel-body" id="c-slide">
          <ol class="carousel-indicators out">
            <li data-target="#c-slide" data-slide-to="0" class=""></li>
            <li data-target="#c-slide" data-slide-to="1" class=""></li>
            <li data-target="#c-slide" data-slide-to="2" class=""></li>
          </ol>
          <div class="carousel-inner">
            <div class="item">
              <p class="text-center">
                <em class="h4 text-mute">Save your time</em><br>
                <small class="text-muted">Many components</small>
              </p>
            </div>
            <div class="item active left">
              <p class="text-center">
                <em class="h4 text-mute">Nice and easy to use</em><br>
                <small class="text-muted">Full documents</small>
              </p>
            </div>
            <div class="item next left">
              <p class="text-center">
                <em class="h4 text-mute">Mobile header first</em><br>
                <small class="text-muted">Mobile/Tablet/Desktop</small>
              </p>
            </div>
          </div>
          <a class="left carousel-control" href="#c-slide" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="right carousel-control" href="#c-slide" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
      </div>
    </section>

    <!-- Carousel-2 -->
    <section class="panel bg-dark">
      <div class="carousel slide carousel-fade panel-body" id="c-fade">
          <ol class="carousel-indicators out">
            <li data-target="#c-fade" data-slide-to="0" class=""></li>
            <li data-target="#c-fade" data-slide-to="1" class="active"></li>
            <li data-target="#c-fade" data-slide-to="2" class=""></li>
          </ol>
          <div class="carousel-inner">
            <div class="item">
              <p class="text-center">
                <em class="h4 text-mute">Save your time</em><br>
                <small class="text-muted">Many components</small>
              </p>
            </div>
            <div class="item active">
              <p class="text-center">
                <em class="h4 text-mute">Nice and easy to use</em><br>
                <small class="text-muted">Full documents</small>
              </p>
            </div>
            <div class="item">
              <p class="text-center">
                <em class="h4 text-mute">Mobile header first</em><br>
                <small class="text-muted">Mobile/Tablet/Desktop</small>
              </p>
            </div>
          </div>
          <a class="left carousel-control" href="#c-fade" data-slide="prev">
            <i class="fa fa-angle-left"></i>
          </a>
          <a class="right carousel-control" href="#c-fade" data-slide="next">
            <i class="fa fa-angle-right"></i>
          </a>
      </div>
    </section>

  </div>


</div>


