<header class="bg-white header header-md navbar navbar-fixed-top-xs box-shadow">
  <div class="navbar-header aside-md dk">
    <a class="btn btn-link visible-xs" data-toggle="class:nav-off-screen" data-target="#nav">
      <i class="fa fa-bars"></i>
    </a>
    <a href="index.html" class="navbar-brand">
      <%= image_tag("logo.png") %>
      <span class="hidden-nav-xs">System CA</span>
    </a>
  </div>
  <ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user user">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="thumb-sm avatar pull-left">
          <%= image_tag "a0.png" %>
        </span>
        <%= current_user.nombre_usuario %> <b class="caret"></b>
      </a>
      <ul class="dropdown-menu animated fadeInRight">            
        <li>
          <span class="arrow top"></span>
          <a href="#">Configuración</a>
        </li>
      </ul>
    </li>
    <li>
      <%= link_to destroy_user_session_path, :method => :delete do %>
        Cerrar Sesión <i class="fa fa-sign-out"></i>
      <% end %>
    </li>
  </ul>      
</header>
